<aside class="main-sidebar">
    <section class="sidebar" style="height: auto;">
        <div class="user-panel">
            <div class="pull-left image">
                <img src="{{ asset('bundles/dyweecore/images/user2-160x160.jpg') }}" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>{{ app.user.username }}</p>
            </div>
        </div>
        {#
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
            </div>
        </form>
        #}
        <ul class="sidebar-menu">
            <li class="header">Navigation</li>
            <li class="active treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>Documents</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{{ path('admin_erp_document_document_table') }}"><i class="fa fa-circle-o"></i> Documents</a></li>
                    <li><a href="{{ path('admin_erp_document_sheet_table') }}"><i class="fa fa-circle-o"></i> Journaux</a></li>
                </ul>
            </li>
        </ul>
    </section>
</aside>