{{ form_start(form) }}
<div class="modal-header bg-primary">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title"><i class="fa fa-folder"></i> Nouveau journal</h4>
</div>
<div class="modal-body">
    {{ form_rest(form) }}
</div>

{% include 'CoreBundle:Button:ModalButtons.html.twig' %}

{{ form_end(form) }}