<div class="modal fade" id="modal" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center">
                <i class="fa fa-spin fa-circle-o-notch fa-4x text-primary"></i>
            </div>
        </div>
    </div>
</div>

<script>
    //Récupère le contenu initial de la modalDelete :
    var $modalDFormInitialContent = $('#modal').find('.modal-content').html();

    //Lors de la fermeture de la modalDelete, on restaure son contenu initial...
    $(document.body).on('hidden.bs.modal', function () {
        $('#modal').removeData('bs.modal').find('.modal-content').html($modalDFormInitialContent);

    });
</script>