<a href="{{ path(app.request.get('_route')|replace({'_table': '_add'})) }}"
   class="btn btn-primary"
   data-toggle="modal"
   data-dismiss="modal"
   data-target="#modal">
    <i class="fa fa-plus-circle"></i> Nouveau
</a>