{% extends "CodeLibraryCodeBundle::admin.html.twig" %}

{% block metaTitle %}
    Dashboard {{ parent() }}
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                    TEST
                </div>
                <div class="box-body">
                    TEST
                </div>
            </div>
        </div>
    </div>

    <script>

    </script>
{% endblock %}